In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
data = pd.read_csv('../Data/LT_DU_data_for_ML.csv')
data

,nace,lpk,hourly_rate,esize_class_nc,gen_F,gen_M,age_class_nc,education_nc,lpk1,lpk2,lpk1_nc,outlier_iqr_lpk1_nc,nace_nc
0,C,722,8.13,0,0,1,0,1,7,72,478,False,0
1,C,721,8.20,0,0,1,1,1,7,72,478,False,0
2,C,722,8.20,0,0,1,0,1,7,72,478,False,0
3,C,334,2.51,0,1,0,1,1,3,33,300,False,0
4,M,522,2.19,1,1,0,1,1,5,52,500,False,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
36508,N,711,2.84,0,0,1,0,1,7,71,478,False,0
36509,N,711,2.84,0,0,1,0,1,7,71,478,False,0
36510,N,711,2.84,0,0,1,2,1,7,71,478,False,0
36511,N,711,2.84,0,0,1,0,1,7,71,478,False,0
36512,L,122,16.53,0,0,1,2,3,1,12,100,False,0

# With outliers and lpk1_nc

In [12]:
data_woutl_lpk1_nc = pd.get_dummies(data, prefix='lpk1_nc',columns=['lpk1_nc'] ).copy()
data_woutl_lpk1_nc.drop(columns=['nace', 'lpk', 'lpk1', 'lpk2', 'outlier_iqr_lpk1_nc'], inplace=True )

In [13]:
y = data_woutl_lpk1_nc['hourly_rate']
X = data_woutl_lpk1_nc.drop(columns='hourly_rate')
y.shape , X.shape

((36513,), (36513, 12))

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.20, random_state=1)